<html>
<head>
	<title>Welcome! Please log in.</title></head>
	<link rel="stylesheet" href="static/bootstrap-darkly.min.css" />
	<link href="static/demo.css" rel="stylesheet" type="text/css" />
<body>
<form action="/login" method="post">

<div id="demo-setup">
    <div id="messages" class="row">
        <div class="col-md-3 col-md-offset-4">
            <div class="well">
                <p><strong>Welcome!</strong></p>
                <p>Please enter your email:</p>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="email" placeholder="name@example.com" autofocus>
                        <span class="input-group-btn">
                            <button id="btn-start" class="btn btn-primary" type="submit">Log in</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>

</body>
</html>